include README.md
include LICENSE
include REFACTORING.md
recursive-include config *.conf *.example
recursive-include systemd *.service *.timer
recursive-include debian mirror-dedupe.1
recursive-include nginx *.conf *.html *.css
