# Ubuntu amd64 mirror example
# Copy this file to ubuntu.conf and customise

name: ubuntu
upstream: http://archive.ubuntu.com/ubuntu
dest: ubuntu/ubuntu
sync_method: rsync
gpg_key_url: http://archive.ubuntu.com/ubuntu/project/ubuntu-archive-keyring.gpg
gpg_key_path: project/ubuntu-archive-keyring.gpg
architectures:
  - amd64
components:
  - main
  - restricted
  - universe
  - multiverse
distributions:
  - noble
# Each distribution auto-expands to include -updates, -security, -backports, -proposed
